<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>web11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.green.controller.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductWriteServlet</display-name>
    <servlet-name>ProductWriteServlet</servlet-name>
    <servlet-class>com.green.controller.ProductWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductWriteServlet</servlet-name>
    <url-pattern>/productWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeleteServlet</display-name>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <servlet-class>com.green.controller.ProductDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <url-pattern>/productDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUpdateServlet</display-name>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <servlet-class>com.green.controller.ProductUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <url-pattern>/productUpdate</url-pattern>
  </servlet-mapping>
</web-app>