<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>testServer3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DetailBoardServlet</display-name>
    <servlet-name>DetailBoardServlet</servlet-name>
    <servlet-class>com.green.controller.DetailBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailBoardServlet</servlet-name>
    <url-pattern>/detailBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteCommentServlet</display-name>
    <servlet-name>WriteCommentServlet</servlet-name>
    <servlet-class>com.green.controller.WriteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteCommentServlet</servlet-name>
    <url-pattern>/writeComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCommentServlet</display-name>
    <servlet-name>ListCommentServlet</servlet-name>
    <servlet-class>com.green.controller.ListCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCommentServlet</servlet-name>
    <url-pattern>/listComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPassServlet</display-name>
    <servlet-name>CheckPassServlet</servlet-name>
    <servlet-class>com.green.controller.CheckPassServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateCommentServlet</display-name>
    <servlet-name>UpdateCommentServlet</servlet-name>
    <servlet-class>com.green.controller.UpdateCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteCommentServlet</display-name>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <servlet-class>com.green.controller.DeleteCommentServlet</servlet-class>
  </servlet>
</web-app>