<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>testServer2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListBoardServlet</display-name>
    <servlet-name>ListBoardServlet</servlet-name>
    <servlet-class>com.green.controller.ListBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBoardServlet</servlet-name>
    <url-pattern>/listBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SampleDataServlet</display-name>
    <servlet-name>SampleDataServlet</servlet-name>
    <servlet-class>com.green.controller.SampleDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleDataServlet</servlet-name>
    <url-pattern>/sampleData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteBoardServlet</display-name>
    <servlet-name>WriteBoardServlet</servlet-name>
    <servlet-class>com.green.controller.WriteBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteBoardServlet</servlet-name>
    <url-pattern>/writeBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailBoardServlet</display-name>
    <servlet-name>DetailBoardServlet</servlet-name>
    <servlet-class>com.green.controller.DetailBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailBoardServlet</servlet-name>
    <url-pattern>/detailBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBoardServlet</display-name>
    <servlet-name>DeleteBoardServlet</servlet-name>
    <servlet-class>com.green.controller.DeleteBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBoardServlet</servlet-name>
    <url-pattern>/deleteBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBoardServlet</display-name>
    <servlet-name>UpdateBoardServlet</servlet-name>
    <servlet-class>com.green.controller.UpdateBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBoardServlet</servlet-name>
    <url-pattern>/updateBoard</url-pattern>
  </servlet-mapping>
</web-app>